div.main-title-container {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  width: var(--body-width);
  padding: var(--spacing-medium);
  border: 8px solid black;
  background-color: var(--title-background-color);
}